[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://hub.fastgit.xyz/luizdepra/hugo-coder.git
[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo.git
